extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Juan Carlos Sanchez

        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p
            | I'm a full stack java script developer, with one year experience. I also have knwoledge about PHP and C#. 
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li HTML
          li CSS
          li Java Script
          li React
          li Node 
          li Express
        h6 Contact Info

        ul
          li 956-382-973
          li jsanchez_zunino@yahoo.com

        a.button.expanded(href='https://www.linkedin.com/in/juan-carlos-sanchez-zunino-271b5151/', target="_blank") LinkedIn
        a.button.expanded(href='https://github.com/Juank628', target="_blank") GitHub
        a.button.expanded(href='/twitter') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  