extends layout.pug
block content
  .error-page
    h2 An error occured :(
    h5 #{err.message}
    h5 Status: #{err.status}
    p.stack #{err.stack}
    img(src='/static/images/error.png', alt='image not found')